<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'styles/tomorrow-night.css' %}">#}
{#    <script type="text/javascript" src="{% static 'highlight.pack.js' %}"></script>#}
{#    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>#}
    <link rel="stylesheet" href="{% static 'css/highlight/emacs.css' %}">
    <title>{{ post.title }}</title>
</head>
<body>

<div class="container">
    <p>{{ post.toc | safe }}</p>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>{{ post.html | safe }}</p>

</div>
{#   <div class="row">#}
{#       <div class="col-sm-3">.col</div>#}
{#       <div class="col-sm-3">.col</div>#}
{#       <div class="col-sm-3">.col</div>#}
{#   </div>#}
{#  <div class="container">#}
{#      <h1>hello<mark> world</mark></h1>#}
{#      <p> test <abbr title="title">flae</abbr></p>#}
{#  </div>#}
{#    <div class="container">#}
{#        <p>kfale:#}
{#        <blockquote class="blockquote">#}
{#           <p>fekfalel</p>#}
{#           <footer class="blockquote-footer">lfa</footer>#}
{#        </blockquote>#}
{#        </p>#}
{#    </div>#}

{#    <div class="container">#}
{#        <d1>#}
{#            <dt>coffee</dt>#}
{#            <dd>blank</dd>#}
{#            <dt>mik</dt>#}
{#            <dd>lfe;a</dd>#}
{#        </d1>#}
{#    </div>#}
{#    <div class="container">#}
{#        <code>flea</code><br/>#}
{#        <kbd>fke</kbd>#}
{#        <pre>glrs</pre>#}
{#    </div>#}
{#    <div class="container">#}
{#        <p class="text-info">info</p>#}
{#        <p class="text-success">success</p>#}
{#        <p class="text-primary">primary</p>#}
{#        <p class="text-danger">danger</p>#}
{#        <p class="text-warning">warning</p>#}
{#    </div>#}
{#    <div class="container">#}
{#        <a href="#" class="text-success">fek</a>#}
{#    </div>#}
{#    <div class="container">#}
{#        <p class="bg-dark text-white">#}
{#            hello#}
{#        </p>#}
{#    </div>#}
{#    <div class="table-responsive">#}
{#        <table class="table">#}
{#            <thead>#}
{#              <tr>#}
{#                <th>#</th>#}
{#                <th>Firstname</th>#}
{#                <th>Lastname</th>#}
{#                <th>Age</th>#}
{#                <th>City</th>#}
{#                <th>Country</th>#}
{#                <th>Sex</th>#}
{#                <th>Example</th>#}
{#                <th>Example</th>#}
{#                <th>Example</th>#}
{#                <th>Example</th>#}
{#              </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#              <tr>#}
{#                <td>1</td>#}
{#                <td>Anna</td>#}
{#                <td>Pitt</td>#}
{#                <td>35</td>#}
{#                <td>New York</td>#}
{#                <td>USA</td>#}
{#                <td>Female</td>#}
{#                <td>Yes</td>#}
{#                <td>Yes</td>#}
{#                <td>Yes</td>#}
{#                <td>Yes</td>#}
{#              </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    <div class="jumbotron jumbotron-fluid">#}
{#  <div class="container">#}
{#      <h1>feaf</h1>#}
{#      <p>fkeaf</p>#}
{#  </div>#}
{#</div>#}

{#<div class="container">#}
{#    <div class="alert alert-success alert-dismissible">#}
{#        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#        <strong>success</strong>#}
{#    </div>#}
{#</div>#}

{#<p>test</p>#}
{#<div class="codehilite"><pre><span></span><span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>#}
{#    <span class="k">print</span><span class="p">(</span><span class="s1">&#39;hello&#39;</span><span class="p">)</span>#}
{#</pre></div>#}
{##}
{##}
{#<div class="codehilite"><pre><span></span>pip install django#}
{#</pre></div>#}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap-4.1.3/bootstrap.min.js' %}"></script>
</body>
</html>