<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlight/emacs.css' %}">
    <title>my blog</title>
</head>
<body>
<div class="container">
    {% for post in post_list %}
    <div>
        <a href="{% url 'blog:detail' post.pk %}" class="text-dark"><h2 class="text-center">{{ post.title }}</h2></a>
        <p>{{ post.excerpt | safe }}</p>
        <a href="{% url 'blog:detail' post.pk %}" class="text-dark">查看全文</a>


    </div>
    {% endfor %}

</div>

</body>
</html>